/* This CSS stylesheet is ordered by element > classes > IDs. */

/* Formatting elements */


body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #2F323B;
}


p {
  font-weight: 400;
  line-height: 1.4;
}

anim {
  font-size: 600%;
  font-weight: 400;
  color:#2178db 
}

h1 {
  font-size: 220%;
  font-weight: 400;
}

h2 {
  font-size: 160%;
  font-weight: 400;
}

h3 {
  font-size: 120%;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #8E9AAF;
}

strong {
  font-weight: 600;
  color:#2178db 
}

bold {
  font-size: 160%;
  font-weight: bold;
}

em {
  color: #97989D;  
}

img {
  width: 100%;
  height: auto;
}


/* Formatting Classes */

.lg-img {
  width: 60vw;
  height: auto;
  padding-left: 10vw;
}

.med-img {
  width: 100%;
  height: auto;
}

.intro-img {
  width: 80%;
  height: auto;
  border-radius: 25px;
}

.xs-img {
  width: 200px;
  height: auto;
}


h1.intro{
  font-size: 260%;
  font-weight: 400;
  color:#FFFFFF
}

h2.intro{
  font-size: 160%;
  font-weight: 400;
  color:#858689
}

h1.card{
  font-size: 180%;
  font-weight: 600;
  /* padding-left: 1rem; */
  color: #2178db;
}


h2.card{
  font-size: 140%;
  font-weight: 400;
  margin-top: 4px;
}

.project h1 {
  padding-top: 80px;
}

.project h2 {
  color: #8E9AAF;
  font-weight: 600;
}

h1.small-card{
  font-size: 150%;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.project strong {
  font-weight: 800;
}

.large-text {
  font-size: large;
}

.horizontal-list ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.horizontal-list li {
  display: block;
  list-style-type: none;
  flex: 0 1 auto;
}

.horizontal-list p {
  line-height: 0.5;
}

.vertical-list ul {
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.vertical-list li {
  display: block;
  list-style-type: none;
  flex: 0 1 auto;
  padding-bottom: 10px;
}

.vertical-list p {
  line-height: 0.5;
}

.border {
  border: 2px solid #C7C7C7;
}

.light-text {
  color: #808080;
  padding: 0;
  margin-bottom: 4px;
}

.no-top-margin {
  margin-top: 0;
}

.no-bot-margin {
  margin-bottom: 0;
}


/* Formatting IDs */
#logo {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

#nav-links {
  text-align: right;
  float: right;
  padding: 10px 0px;
}

#nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}

#nav-links li {
  display: inline;
}

#nav-links li a {
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 12px;
}

#nav-links li a:hover {
  font-weight: 600;
  color:#2178db 
}

#social-icons a {
  color: white;
  margin-right: 24px;
}

#social-icons a:hover {
  color:#2178db 
}



#numbered-list h1 {
  padding: 0;
  margin: 0;
}

#takeaways h1 {
  margin: 0;
  padding-top: 50px;
}

#other-project h1 {
  font-size: 180%;
}

#info-icon {
  padding: 4% 26%
}

#updates li {
  line-height: 1.4;
}

.gallery {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 25px 25px 25px 25px;
}


/* Media queries */
@media screen and (max-width: 720px) {
  h1.intro{
    font-size: 140%;
    font-weight: 400;
    color:#FFFFFF
  }

  h2.intro{
    font-size: 100%;
    font-weight: 400;
    color:#858689
  }
  
  anim {
    font-size: 400%;
    font-weight: 400;
    color:#2178db 
  }

  .intro-img {
    width: 100%;
    height: auto;
    border-radius: 25px;
  }
  
}

.container {
  padding: 15px;
}

ul.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40vh, 1fr));
  grid-gap: 50px;
  list-style: none;
  margin: 0;
  padding: 50px;
}

ul.images > li {
  position: relative;
  padding-top: 66%;
}

ul.images > li img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* Remove browser bordering */
html, body { margin: 0; padding: 0; } 

/* Hide scrollbar*/
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

body {
  background:linear-gradient(to left top, #000000, #232323);
  background-attachment: fixed; /*edit*/
}

.horizontal-photos{
  width:100%;
  height:auto;
  max-height:600px;
  object-fit: contain;
  overflow: hidden;
  background-size: contain;
  padding: 30px 20px;
}

.vertical-photos{
  width:100%;
  height:auto;
  max-height:800px;
  object-fit: contain;
  overflow: hidden;
  padding: 30px 20px;
}
